.dropdown-toggle::after {
  display: none;
}

.navbar .nav-link.active {
  text-decoration: none !important; 
  color: var(--bs-primary);  
}

.navbar-abajo {
  box-shadow: 0 3px 10px rgba(0,0,0,0.15);
}

.bg-light {
  --bs-bg-opacity: 1; 
  background-color: white !important;     
}

@media (min-width: 990px) {
 
  .dropdown:hover .dropdown-menu{
    margin-top: 0;
  } 
  .navbar{
    padding: 0;
  }
  .menu-hover{
    height: 50px;    
  }
  .menu-hover:hover{  
    color: var(--bs-primary) !important;    
  }  
  
}

.fade-in {
  animation-name: fadeInOpacity;
  animation-duration: 0.3s;
}

@keyframes fadeInOpacity {
  from {
    opacity: 0;  
  }
  to {
    opacity: 1;    
  }
}




