.dropdown-toggle::after {
    content: null !important;
}

.underline-padding {
    text-decoration: none !important;
  }
  
  .underline-padding:hover {
    text-decoration: underline;
    border-bottom: 3px solid var(--bs-primary);
    color: var(--bs-primary) !important;    
  }

  .navbar .nav-link.active {
    text-decoration: none !important;
    text-decoration: underline;
    border-bottom: 3px solid var(--bs-primary);
    color: var(--bs-primary);
    
  }

  .dropdown-toggle:hover{
    color: var(--bs-primary);
  }