.divider{
  border-left: 2px dashed ; /* Border on the left */
  width: 10px; 
  height: 25px;
}

.icon-rotate{
    transform: rotate(95deg);
}

.color-icon{
  color: var(--bs-primary);
}

.text-icon{
  font-size: 20px;
  font-weight: bold;
}
